// extracted by mini-css-extract-plugin
export default {"legalPage":"oUkhk","notEmbedded":"KtTuH","allowOverflowX":"b_Yvm","container":"WwZmU","noMaxWidth":"Nyi2G","mainTitle":"QGzLH","titleText":"uKxc2"};