@import "theme/mixins";
@import 'theme/variables';

.accountListHorizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 8px;
  li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 148px;
    height: 112px;
    border-radius: 12px;
    transition: transform 0.2s, background-color 0.2s;
    @include themify {
      background: themed('transparentForeground10');
    }
    &:hover {
      transform: scale(1.02);
      @include themify {
        background: themed('transparentForeground20');
      }
    }
    > * + * {
      margin-top: 4px;
    }
    span {
      @include web-body-large-strong;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      text-align: center;
    }
  }
}

.accountListVertical {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 50vh;
  overflow-y: scroll;
  width: 100%;
  li {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

