// extracted by mini-css-extract-plugin
export default {"device":"qUi2m","title":"OVRRV","deviceContentRow":"wtd7I","deviceImg":"KK0js","deviceSubText":"nHqwU","link":"Wqc5C","requirements":"IENP7","smallBold":"Y1eJL"};