@import "theme/mixins";

.exitKidsModal {
  @include themify {
    background: #161324;
  }
}

.subheader {
  @include web-body-large;
  text-align: center;
  margin-top: -24px;
  margin-bottom: 32px;
  opacity: 0.75;

  @include themify {
    color: themed('primaryForeground');
  }
}

.header {
  @include web-header-small;
  text-align: center;
  margin-bottom: 32px;

  @include themify {
    color: themed('primaryForeground');
  }
}

.passwordInputWrapper {
  width: 100%;
  max-width: 312px;
  margin-bottom: 32px;
}

.button {
  margin-bottom: 16px;
  width: 100%;
  max-width: 312px;
}

.forgotPasswordLink {
  @include web-body-small;
  background: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 8px;

  @include themify {
    color: themed('transparentForeground75');
  }

  &:hover {
    @include themify {
      color: themed('primaryForeground');
    }
  }
}
