// extracted by mini-css-extract-plugin
export default {"root":"sYBUj","wrapper":"qgnLN","iconWrapper":"_0Lj7","title":"DADyV","desc":"y2luR","button":"JozXH","buttonChild":"kXzVr","tips":"yOwIo","link":"e9XsX"};