// extracted by mini-css-extract-plugin
export default {"moreActions":"un53Z","newDesign":"ISddB","iconButton":"XykWo","wrapped":"L7XtB","icon":"mTKCf","menu":"FsywM","options":"eAd4E","option":"NBXOS","shareIcons":"u4Hnw"};