// extracted by mini-css-extract-plugin
export default {"staticPage":"BNPVM","notEmbedded":"QuQmC","allowOverflowX":"f6sYq","container":"ZHVAU","noMaxWidth":"NxgRz","mainTitle":"oX6pF","titleText":"xMZMh","buttonContainer":"ZtEjm"};