// extracted by mini-css-extract-plugin
export default {"containers":"j26pT","containerGrids":"RwbTt","containerGrid":"Ztn6T","channelCarouselContainer":"MwYm6","channelCarouselContainerTitle":"MuZyk"};