// extracted by mini-css-extract-plugin
export default {"content":"bZeDe","detailContainer":"BJTjZ","withRefresh":"Gqs1S","title":"XKINe","description":"RBtCc","containerBottomActionRow":"YcWir","continueButton":"WjYvD"};