// extracted by mini-css-extract-plugin
export default {"channelDetails":"bvyhV","logo":"tHURM","title":"swWSC","description":"cdRz_","share":"ufNqz","shareMenuButton":"zpMvj","shareMenu":"ktV9N","show":"W6MHi"};