// extracted by mini-css-extract-plugin
export default {"buttonGroup":"d3O8W","newDesign":"EIOsN","watchButton":"etFQQ","signInButton":"n6fRA","line":"ar4AE","myListButton":"mCeMU","text":"ecef4","remindButton":"tb9c9"};