// extracted by mini-css-extract-plugin
export default {"drawerContainer":"qxzx5","drawer":"V7I2b","drawerHeader":"bO2SN","drawerTitle":"gQIjA","drawerContent":"nB0yT","backButton":"IFXzh","srOnly":"ffCYQ"};