// extracted by mini-css-extract-plugin
export default {"content":"tnUgy","wrapper":"pZw7D","circle":"xbBK8","main":"eUvG7","body":"YjkDd","title":"WC_6d","subtitle":"_vyOn","homeLink":"YawU8","helpText":"goBmf","link":"htD4a"};