// extracted by mini-css-extract-plugin
export default {"howToWatchSuperBowl":"PoPKq","link":"D1yfh","doordash":"SLoYJ","foxLogo":"SuZR7","doordashLogo":"zN5CZ","doordashDescription":"GFogo","deportes":"bg8_M","stepByStepButton":"MoHr6"};