@font-face {
  font-family: "Casual";
  src: url("../../../static/font/casual.ttf") format("truetype");
}

@font-face {
  font-family: "Courgette";
  src: url("../../../static/font/courgette.ttf") format("truetype");
}

@font-face {
  font-family: "Courier";
  src: url("../../../static/font/courier.ttf") format("truetype");
}

@font-face {
  font-family: "Lora";
  src: url("../../../static/font/lora.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("../../../static/font/roboto.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("../../../static/font/ubuntu-mono.ttf") format("truetype");
}
