@import '../theme/mixins';

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideDownAppear {
  0% {
    opacity: 0;
    transform: translateY(-70%);
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(convert1080pxToREM(-10px), 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(convert1080pxToREM(10px), 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(1.2);

  }
  50% {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
