// extracted by mini-css-extract-plugin
export default {"volumeContainer":"WQyPK","fadeEnter":"p6iqu","fadeEnterActive":"ZI68A","fadeLeave":"ySAc1","fadeLeaveActive":"bWZUJ","volumeRange":"TqQZU","isEPG":"tOwtF","isLive":"trTLN"};