// extracted by mini-css-extract-plugin
export default {"tabsMain":"i4zw8","tabs":"hwn69","tabHeader":"O7_v2","headerButton":"iWIko","active":"DJcWa","panelContainer":"QZE7H","panel":"f4upc","activePanel":"bFJBJ"};