// extracted by mini-css-extract-plugin
export default {"tile":"GdH0Y","head":"CXBXz","overlay":"pVg9m","playWrapper":"QeXaX","showPlayButton":"xnQES","play":"FRPy1","title":"Vjj8V","description":"kahcL","resume":"fK1UD"};