// extracted by mini-css-extract-plugin
export default {"wrapper":"qth9B","kids":"Wj91P","main":"ZofOR","icon":"Cqs3L","avatar":"ivJ9o","guestActions":"z7WA5","button":"TLUkg","kidList":"QWURb","help":"zlx5Z"};