// extracted by mini-css-extract-plugin
export default {"root":"Ixckq","section":"J07pN","detailsBox":"yrgBm","logoWrapper":"Ydizr","logo":"LJxuN","content":"lPDDR","opts":"zWTHY","recommendedChannels":"lnmzF","verticalFit":"F1001"};