// extracted by mini-css-extract-plugin
export default {"relatedContents":"VOtL6","row":"niYJb","newDesign":"IejtI","title":"rrNfJ","carousel":"t3vzq","container":"pxdDg","prevNext":"tFXBu","fluidGrid":"EQqAb"};