@import "theme";
@import "typography";

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    :global(.#{$theme}Theme) & {
      @content;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
