// extracted by mini-css-extract-plugin
export default {"topPlaceholder":"urwlI","transparentBackground":"oAYxt","fixed":"fPEFh","logo":"LfAsb","logoIcon":"JVNKz","rightLinks":"ib43o","rightLink":"kycqZ"};